*{
	box-sizing: border-box;
	margin: 0;
	padding:0;
}

body{
	margin:10px;
	 background-color: white;
}
h1{
	font-family: sans-serif;
	text-align:center;
	margin: 50px;
}
section{
	background-color: grey;
	padding:30px 10px 10px 10px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid black;
	width:33.33%;
	height: 130px;
	position: relative;
	float: right;
	
}
section >div{
	border-right:0;
	border-top: 0;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	width: 25%;
	height: 20px;
	text-align: center;
	position: absolute;
	top:0;
	bottom: 25%;
	left: 75%;
	right: 0;
}
#menu1{
background-color:#CEB5B7 ;	
}
#menu2{
background-color: #AFD0D6;
}
#menu3{
background-color: #76E5FC;
}
#info1{
	background-color: #DEB887;
}
#info2{
	background-color: brown;
}
#info3{
	background-color: pink;
}

/*****Large Devices****/
